<%- include('../includes/header') %>
        <div class="container my-4" style="min-height: 700px;">
            <h1>About Page</h1>
            <a href="/about/info/rohit/25/indore" class="btn btn-info">Hello</a>
        </div>
<%- include('../includes/footer') %>

       